@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-urbanist), Arial, Helvetica, sans-serif;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5 {
  /* font-family: "Libre Baskerville"; */
  font-family: var(--font-libre-baskerville);
}

h1 {
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 102px;
  @apply mb-5;
}

h2 {
  font-size: 3.75rem;
  font-weight: 700;
}

h3 {
  font-size: 2.375rem;
  font-weight: 400;
}

h4 {
  font-size: 2.375rem;
  font-weight: 400;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
