@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  @apply transition-all;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-urbanist), Arial, Helvetica, sans-serif;
  font-size: 15px;
  scroll-behavior: smooth;
}

a {
  @apply cursor-pointer;
}

.styled-link {
  @apply text-secondary font-semibold;
}

h1,
h2,
h3,
h4,
h5 {
  /* font-family: "Libre Baskerville"; */
  font-family: var(--font-libre-baskerville);
}

h1 {
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 102px;
  @apply mb-5;
}

h2 {
  font-size: 3.75rem;
  font-weight: 700;
}

h3 {
  font-size: 2.375rem;
  font-weight: 400;
}

h4 {
  font-size: 2.375rem;
  font-weight: 400;
}

p {
  @apply my-2;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.responsive-grid {
  @apply grid-cols-base md:grid-cols-baseMd xl:grid-cols-baseXl;
}

.hover-extend {
  @apply transition-transform duration-300 hover:scale-[102%];
}

/* Blink animation */

.blink {
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* fly-in animation */

@keyframes slideInFromRight {
  0% {
    transform: translateX(40%);
  }
  100% {
    transform: translateX(0);
  }
}

.fly-in {
  animation: slideInFromRight 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.fly-in-delay {
  animation: slideInFromRight 1.2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

/* fly-in animation */

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.fly-in-top {
  animation: slideInFromTop 2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

/* fade-in animation */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.8s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes slideInUp {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.slide-in-visible {
  opacity: 1;
  transform: translateY(0);
  animation: slideInUp 0.6s ease-out forwards;
}

@keyframes slideInRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-visible-right {
  opacity: 1;
  transform: translateY(0);
  animation: slideInRight 0.6s ease-out forwards;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-visible-left {
  opacity: 1;
  transform: translateY(0);
  animation: slideInLeft 0.6s ease-out forwards;
}
