@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-urbanist), Arial, Helvetica, sans-serif;
  font-size: 15px;
}

a {
  @apply cursor-pointer;
}

.styled-link {
  @apply text-secondary font-semibold;
}

h1,
h2,
h3,
h4,
h5 {
  /* font-family: "Libre Baskerville"; */
  font-family: var(--font-libre-baskerville);
}

h1 {
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 102px;
  @apply mb-5;
}

h2 {
  font-size: 3.75rem;
  font-weight: 700;
}

h3 {
  font-size: 2.375rem;
  font-weight: 400;
}

h4 {
  font-size: 2.375rem;
  font-weight: 400;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.responsive-grid {
  @apply grid-cols-base md:grid-cols-baseMd xl:grid-cols-baseXl;
}

/* Blink animation */

.blink {
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* fly-in animation */

@keyframes slideInFromRight {
  0% {
    transform: translateX(40%);
  }
  100% {
    transform: translateX(0);
  }
}

.fly-in {
  animation: slideInFromRight 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.fly-in-delay {
  animation: slideInFromRight 1.2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

/* fly-in animation */

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.fly-in-top {
  animation: slideInFromTop 2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

/* fade-in animation */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.8s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
